<html>
<head>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&amp;subset=latin-ext" rel="stylesheet"></head>

<body>
<div class="navigationBar">
    <div class="navigationBarLeft">
        <a href="">Times News</a>
    </div>

    <div class="navigationBarRight">
        <a href="/weather">Weather</a>
        <a href="">About</a>
        <a href="/weather">Login/SignUp</a>
        <a href="">Contact Us</a>
    </div>
</div>