<div class="navigationBar">
    <div class="navigationBarLeft">
        <a href="/">Times News</a>
    </div>

    <div class="navigationBarRight">
        <a href="/services">Other Services</a>
        <a href="">About</a>
        <% if(currentUser) { %>
        <a href="/profile/<%= currentUser._id%>"><i class="fas fa-user"></i> <%= currentUser.username%></a>
        <% } else {%>
            <a href="/register">Login/SignUp</a>
        <% }%>
        <a href="">Contact Us</a>
    </div>
</div>