<html>
<head>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<body>
    <% include ./partials/navBar.ejs%>
    <div class="newsGrid">
        <!--<div class="miniNews">-->
            <!--<img class="image" src="https://ichef.bbci.co.uk/images/ic/1200x675/p02pc330.jpg">-->
            <!--<div class="heading">-->
                <!--<h1 class="info">Bitcoin</h1>-->
            <!--</div>-->
        <!--</div>-->
    </div>


    <script src="/script/index.js"></script>
</body>
</html>