<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Quotes</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/randQuotes.css">
</head>
<body>
    <% include ./partials/navBar.ejs%>
    <div class="container">
        <h1>Random Quote's by Times News</h1>
        <p id="quote"></p>
        <p id="author"></p>
        <button id="nextBtn">New Quote</button>
    </div>


    <script src="/script/randQuotes.js"></script>
</body>
</html>