<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&amp;subset=latin-ext" rel="stylesheet"></head>
    <link rel="stylesheet" href="/stylesheets/form.css">
</head>

<body>
<div class="formBox">
    <h1>Sign Up</h1>
    <form action="/register" method="POST">
        <input type="text" placeholder="User Name" name="username">
        <input type="password" placeholder="Password" name="password">
        <button>Sign UP</button>
    </form>

    <a href="/login">Already Registered</a>
</div>
</body>
</html>