@import url('https://fonts.googleapis.com/css?family=Inconsolata');
::selection {
    background-color: #F67280;
    color: #FDFDEB;
}

body{
    background-color: #FDFDEB;
}

li {
    list-style: none;
}

button {
    outline-width: 0;
    border-radius: 3px;
    background-color: inherit;
    border:none;
}

input{
    border:1px solid #A40A3C;
    border-radius: 3px;
    outline-width: 0;
    padding: 10px;
    letter-spacing: 1.5px;
    font-family: Inconsolata;
    text-align: center;
    margin:0 1em 0 1em;
    color: #3c0819;
    -webkit-appearance: none;
}

#heading{
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    color: #3c0819;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.dropbtn {
    background-color: #A40A3C;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #C65F63;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FDFDEB;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:10px;
    color: #A40A3C;

}

.dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown li:hover {
    background-color: #C65F63;
    color:#FDFDEB;
}

.show {display:block;}

.box {
    display: flex;
    flex-direction: column;
}

.box p{
    margin:0;
    padding: 5px 0 0 75%;
    font-family: Inconsolata;
    letter-spacing: 2px;
    color: #3c0819;

}

.m {
    display: flex;
    margin:0 1em 0 1em;
}

#refreshBtn {
    color: #3c0819;
}

.grid {
    display: flex;
    flex-direction: column;
    color: #3c0819;
}

.grid .gridCol {
    display: flex;
    justify-content: center;
}

.grid .gridCol .item {
    border:1px solid #A40A3C;
    border-radius: 3px;
    margin:1em;
    width: 200px;

    display: flex;
    font-size: 1em;
    letter-spacing: 5px;
    align-items: baseline;
    height:100px;
    justify-content: center;
    align-self: center;
}

.grid .gridCol .item h2{
    margin:0;
}

.grid .gridCol .item:hover {
    background-color: #A40A3C;
    color: #FDFDEB;
}